<!-- app/views/microposts/index.html.erb -->
<%= provide :title, "Micropost"%>
<h1>All Microposts</h1>
<ul>
  <% @microposts.each do |micropost| %>
    <li><%= micropost.content %></li>
  <% end %>
</ul>
