<header class="navbar navbar-fixed-topnavbar-inverse">
  <div class="container">
    <%= link_to "sample app", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "EngLish", locale: :en %></li>
        <li><%= link_to "Japanese", locale: :ja %></li>
        <li><%= link_to "Log in", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
